<suite name="Parallel Suite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="utils.RetryListener" />
        <listener class-name="listeners.TestListener" />
        <listener class-name="listeners.VideoRecordingListener"/>
    </listeners>
    <test name="Video Recording Tests">
        <classes>
            <classess name="tests.VideoRecordingTest" />
        </classes>
    </test>
    <test name="Android Tests">
        <parameter name="platform" value="android" />
        <classes>
            <class name="tests.LoginTest" />
        </classes>
    </test>
    <test name="iOS Tests">
        <parameter name="platform" value="ios" />
        <classes>
            <class name="tests.LoginTest" />
        </classes>
    </test>
</suite>
